h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:cornflowerblue;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

.row {
    align-items: center;
}